{% load static %}

<footer class="bg-primary-gradient d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="container d-flex">
        <div class="col-md-4 col d-flex align-items-center justify-content-start">
            <span class="text-muted">© 2023 SwapSmart</span>
        </div>

        <a href="/"
           class="col-md-4 col d-flex align-items-center justify-content-center link-dark text-decoration-none">
            <img src="{% static 'swapsmart.png' %}" alt="logo" width="40">
        </a>

        <ul class="nav col-md-4 col justify-content-end align-items-center d-flex">
            <li class="ms-3">
                <a class="text-muted" href="https://raiml.t.me/">
                    <i class="bi bi-telegram text-muted"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://instagram.com/azharbayev">
                    <i class="bi bi-instagram text-muted"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://github.com/goofeat">
                    <i class="bi bi-github text-muted"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>