{% extends 'base.html' %}

{% block title %}
	List
{% endblock %}

{% block content %}
	<div class="container text-center py-5">
		<h2 class="fw-semibold text-center">
			{{ category }}
		</h2>
        <hr>
		{% for i in ads %}
            <div>
                <div class="col text-center px-4">
                    <a href="{% url  "ad_detail" category=category ad=i.pk%}"> 
                        <img src="{{ i.image.url }}" style="width: 100px;">
                        <div>{{ i.title }}</div>
                        {% if i.price != 0 %} 
                            <div>{{ i.price }}</div>
                        {% else %}
                            <div class="text-success">For free</div>
                        {% endif %}
                    </a> 
                </div>
            </div>
        {% endfor %}
	</div>
{% endblock %}