{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid text-center pt-5">
        <h2 class="fw-semibold text-center py-5">
            Change password
        </h2>

        <div class="container-fluid d-flex justify-content-center">
            <form class="col-4" method="post">
                {% csrf_token %}

                <div class="form-group pt-2 text-start">
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                </div>
                {% if form.old_password.errors %}
                    <div class="text-danger pt-2" role="alert">
                        {% for errors in form.old_password.errors %}
                            • {{ errors }}<br>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form-group pt-2 text-start">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                </div>

                <div class="form-group pt-2 text-start">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                </div>
                {% if form.new_password2.errors %}
                    <div class="text-danger pt-2" role="alert">
                        {% for errors in form.new_password2.errors %}
                            • {{ errors }}<br>
                        {% endfor %}
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-outline-primary mt-3">Change</button>
            </form>
        </div>
    </div>
{% endblock %}